.container {
    opacity: 50%; 
    margin: 0 auto;
}



.moviePic  {
    width: 342px; 
    height: 513px;
}

.filmPic {
    text-align: center;
    width: 200px; 
    margin: 0 auto;
}

a {
    color: white; 
}

.row .col.l6 {
    margin-top: 5%;
}



