.moviePic  {
    width: 342px; 
    height: 513px;
    margin-bottom: 6px;
}

.filmPic {
    text-align: center;
    width: 200px; 
    margin: 0 auto;
}


#movieSpot {
    text-align: center;
    margin-bottom: 50px; 
}

.movieLink{
    color: #00FC87;
    font-weight: bold;
}





