body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.movieControl {
  text-align: center;
  margin: 4% 2% 0;
}

.btn-default {
  margin: .5%;
}

.input-sm {
  width: 350px;
  margin: 0 auto;
}

.logo {
  text-align: center;
  margin-top: 2%;
}
